In [2]:
from splinter import Browser
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [5]:
# Setup splinter
def init_browser():
    executable_path = {"executable_path": "/Users/jvolo/Bin/chromedriver"}
    return Browser("chrome", **executable_path, headless=False)

In [6]:
#Scrape NASA Mars News Site for latest news Title
#Scrape NASA Mars News Site for latest news Paragraph

browser = init_browser()
listings = {}
    
url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
browser.visit(url)

html = browser.html
soup = BeautifulSoup(html, "html.parser")

news_title = soup.find("div", class_="content_title").text
news_p = soup.find("div", class_="article_teaser_body").text

In [7]:
#Display Results
print(news_title)
print(news_p)

Mars Now
NASA's Perseverance rover carries a device to convert Martian air into oxygen that, if produced on a larger scale, could be used not just for breathing, but also for fuel.

In [15]:
#JPL
#Use splinter to navigate the site and find the image url 
#For the current Featured Mars Image and assign the url string to a variable called `featured_image_url`
#Make sure to find the image url to the full size `.jpg` image.
#Make sure to save a complete url string for this image.


featured_image_url = "https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17474_ip.jpg" 

browser.visit(featured_image_url)

html = browser.html
featured_image_soup = BeautifulSoup(html, "html.parser")
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17474_ip.jpg

In [5]:
#Mars Facts

mars_facts_url = "https://space-facts.com/mars/"

In [6]:
#Use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.

tables = pd.read_html(mars_facts_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [7]:
#Scrape table for facts

mars_facts_df = tables[2]
mars_facts_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [8]:
#Use Pandas to convert the data to a HTML table string.
html_table = mars_facts_df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [ ]:
#USGS Astrogeology
#Obtain high resolution images for each of Mar's hemispheres
#Click each of the links to the hemispheres in order to find the image url to the full resolution image.

In [1]:
#Save both the image url string for the full resolution hemisphere image 
#And the Hemisphere title containing the hemisphere name 
#Use a Python dictionary to store the data using the keys `img_url` and `title`.

SyntaxError: invalid syntax (<ipython-input-1-8b1d6b31e74b>, line 1)

In [ ]:
#Append the dictionary with the image url string and the hemisphere title to a list
#This list will contain one dictionary for each hemisphere.